<div id="appeals" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <http-spinner></http-spinner>

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    folder
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Liste des appels
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Rechercher un appel">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <!--<button mat-raised-button (click)="newJurisdiction()"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
                <span>Nouvelle juridiction</span>
            </button>-->
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="appeals-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- Name Column -->
                <ng-container matColumnDef="legalFolder">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Affaire</mat-header-cell>
                    <mat-cell *matCellDef="let appeal">
                        <p class="text-truncate">{{appeal?.legalFolder?.nameOfAccused}}</p>
                    </mat-cell>
                </ng-container>

                <!-- level Column -->
                <ng-container matColumnDef="jurisdiction">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Juridiction</mat-header-cell>
                    <mat-cell *matCellDef="let appeal">
                        <p class="text-truncate">{{appeal?.jurisdiction?.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- level Column -->
                <ng-container matColumnDef="judgment">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Jugement</mat-header-cell>
                    <mat-cell *matCellDef="let appel">
                        <p class="text-truncate">{{judment[appel.judgment]}}</p>
                    </mat-cell>
                </ng-container>

                <!-- level Column -->
                <ng-container matColumnDef="decisionOfJurisdiction">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Décision</mat-header-cell>
                    <mat-cell *matCellDef="let appel">
                        <p class="text-truncate">{{appel.decisionOfJurisdiction}}</p>
                    </mat-cell>
                </ng-container>

                <!-- level Column -->
                <ng-container matColumnDef="dateAppeal">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date d'appel</mat-header-cell>
                    <mat-cell *matCellDef="let appel">
                        <p class="text-truncate">{{appel.dateAppeal |  date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let appel">
                        <a *ngIf="appel.judgment ==='IN_PROGRESS'">
                            <mat-icon>edit</mat-icon>
                        </a>
<!--
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                    (click)="$event.stopPropagation();">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item (click)="editJurisdiction(jurisdiction)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Modifier</span>
                                </button>
                            </mat-menu>
                        </div>
-->
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let appel; columns: displayedColumns;"
                         class="appeal"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
