<div id="response" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#006400"
            type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">S'il vous plaît, attendez ...</p>
        </ngx-spinner>
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/main/publications/responses'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{response.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nouvelle Réponse
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="responseForm.invalid || !isLinesCorrect()"
                    (click)="save()"
                    *ngIf="pageType ==='new'">
                <span>Enregistrer</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="responseForm.invalid || responseForm.pristine"
                    *ngIf="pageType ==='edit'">
                <span>Modifier</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                <div class="tab-content p-24" fusePerfectScrollbar>
                    <form name="responseForm" [formGroup]="responseForm" class="product w-100-p" fxLayout="column" fxFlex>
                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Question</mat-label>
                                <mat-select formControlName="quiz"
                                            (selectionChange)="findQuizSelected($event.value)"
                                            required>
                                    <mat-option *ngFor="let quiz of quizzes"
                                                [value]="quiz.id">{{quiz.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="divListeResponse">
                    <h2><strong>Liste des reponses lié a cette question</strong></h2>
                    <div class="responsiveTbl">
                        <table>
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>Nom</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let reponse of responses; let i=index">
                                <td>{{i+1}}</td>
                                <td>
                                    <textarea [(ngModel)]="reponse.name" id="name_{{i}}" matInput></textarea>
                                </td>
                                <td>
                                    <textarea [(ngModel)]="reponse.description" id="description_{{i}}" matInput></textarea>
                                </td>
                                <td>
                                    <span>
                                        <a (click)="delete(i)" href="javascript:void(0)">
                                            <mat-icon>delete</mat-icon>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                            <button (click)="addNewRow()" class="submit-button" color="accent" mat-stroked-button>
                                <mat-icon>add</mat-icon>
                            </button>
                        </table>
                    </div>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
