<div id="programs" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    folder
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Programmes
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Rechercher un programme">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/main/setting/programs/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
                <span>Nouveau Programme</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="programs-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

             <!--
                <ng-container matColumnDef="years">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Période d'exécution</mat-header-cell>
                    <mat-cell *matCellDef="let program">
                        <p class="text-truncate">{{program.years}}</p>
                    </mat-cell>
                </ng-container>-->

                <ng-container matColumnDef="startDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date début</mat-header-cell>
                    <mat-cell *matCellDef="let program">
                        <p class="text-truncate">{{program.startDate | date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date fin</mat-header-cell>
                    <mat-cell *matCellDef="let program">
                        <p class="text-truncate">{{program.endDate | date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="organ">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Organ</mat-header-cell>
                    <mat-cell *matCellDef="let program">
                        <p class="text-truncate">{{program?.organ ? program.organ?.name : 'Ne concerna pas un organ'}}</p>
                    </mat-cell>
                </ng-container>

                <!-- cutting Column -->
                <ng-container matColumnDef="elected">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Elus</mat-header-cell>
                    <mat-cell *matCellDef="let program">
                        <p *ngIf="program.elected" class="text-truncate">
                            {{program?.elected?.firstname}} {{program?.elected?.lastname}}
                        </p>
                        <p *ngIf="!program.elected" class="text-truncate">Ne concerna pas un élus</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let program; columns: displayedColumns;"
                         class="program"
                         [routerLink]="'/main/setting/programs/'+program.id+'/'+program.title"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>
