<div id="interpellation-details" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/main/trueometer/interpellations'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Interpellation {{interpellationDetails.article.title}}
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="interpellationForm" [formGroup]="interpellationForm" class="product w-100-p"
                      fxLayout="column" fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="px-8 readonly-wrapper" floatLabel="always" fxFlex="33">
                                <mat-label>Interpeller en tant que</mat-label>
                                <mat-select formControlName="callAs" [disabled]="true" required>
                                    <mat-option *ngFor="let call of asCalls"
                                                [value]="call">{{callAs[call]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="px-8 readonly-wrapper" floatLabel="always" fxFlex="33">
                                <mat-label>Qui est interpeller</mat-label>
                                <mat-select formControlName="organCall"
                                            (selectionChange)="getOrganChoice($event.value)" [disabled]="true" required>
                                    <mat-option *ngFor="let organ of organCalls"
                                                [value]="organ">{{organCall[organ]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field *ngIf="organCallSelected ==='ELECTED' || interpellationDetails.elected != null"
                                            appearance="outline" class="px-8 readonly-wrapper" floatLabel="always" fxFlex="33">
                                <mat-label>Elus concerné</mat-label>
                                <mat-select formControlName="elected"
                                            (selectionChange)="findByElectedSelected($event.value)" [disabled]="true">
                                    <mat-option *ngFor="let elected of electeds" [value]="elected.id">
                                        {{elected.firstname}} {{elected.lastname}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field *ngIf="organCallSelected ==='ORGAN' || interpellationDetails.organ != null"
                                            appearance="outline" class="px-8 readonly-wrapper" floatLabel="always" fxFlex="33">
                                <mat-label>Organ concerné</mat-label>
                                <mat-select formControlName="organ"
                                            (selectionChange)="findOrganSelected($event.value)" [disabled]="true">
                                    <mat-option *ngFor="let organ of organs" [value]="organ.id">
                                        {{organ.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p readonly-wrapper">
                                <mat-label>Categorie</mat-label>
                                <mat-select formControlName="category"
                                            (selectionChange)="findCategorySelected($event.value)"
                                            [disabled]="true"
                                            required>
                                    <mat-option *ngFor="let category of categories" [value]="category.id">
                                        {{category.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p readonly-wrapper">
                                <mat-label>Objet d'interpellation</mat-label>
                                <textarea name="subject" formControlName="subject"
                                          matInput type="text"
                                          required
                                          readonly
                                          max-rows="5">
                                </textarea>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p readonly-wrapper">
                                <mat-label>Votre message</mat-label>
                                <textarea name="content" formControlName="content"
                                          matInput type="text"
                                          required
                                          readonly
                                          max-rows="5">
                                </textarea>
                            </mat-form-field>
                        </div>
                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
