<div id="interpellations" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <http-spinner></http-spinner>

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    volume_up
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                   Liste d'interpellations
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Rechercher une interpellation">
                </div>
            </div>
            <!-- / SEARCH -->

            <button mat-raised-button
                    [routerLink]="'/main/participation/interpellations/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
                <span>Nouvelle interpellation</span>
            </button>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="interpellations-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- Name Column -->
                <!--  <ng-container matColumnDef="subject">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Sujet</mat-header-cell>
                      <mat-cell *matCellDef="let interpellation">
                          <p class="text-truncate">{{interpellation.subject}}</p>
                      </mat-cell>
                  </ng-container>-->

                <!-- <ng-container matColumnDef="content">
                     <mat-header-cell *matHeaderCellDef mat-sort-header>Contenu</mat-header-cell>
                     <mat-cell *matCellDef="let interpellation">
                         <p class="text-truncate">{{interpellation.content}}</p>
                     </mat-cell>
                 </ng-container>-->

                <ng-container matColumnDef="interpelDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
                    <mat-cell *matCellDef="let interpellation">
                        <p class="text-truncate">{{interpellation?.interpelDate | date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="callAs">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Interpeller en tant que</mat-header-cell>
                    <mat-cell *matCellDef="let interpellation">
                        <p class="text-truncate">{{callAs[interpellation.callAs]}}</p>
                    </mat-cell>
                </ng-container>

                <!--<ng-container matColumnDef="elected">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Elus</mat-header-cell>
                    <mat-cell *matCellDef="let interpellation">
                        <p *ngIf="interpellation?.elected" class="text-truncate">
                            {{interpellation?.elected?.firstname}} {{interpellation?.elected?.lastname}}
                        </p>
                        <p *ngIf="!interpellation?.elected">
                            Ne concerne pas un élus
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="organ">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Organ</mat-header-cell>
                    <mat-cell *matCellDef="let interpellation">
                        <p class="text-truncate">{{interpellation?.organ ? interpellation.organ?.name : 'Ne concerna pas un organ'}}</p>
                    </mat-cell>
                </ng-container>
-->
                <ng-container matColumnDef="locality">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Localité</mat-header-cell>
                    <mat-cell *matCellDef="let interpellation">
                        <p class="text-truncate">{{interpellation?.article?.level?.name}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="domain">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Domaine</mat-header-cell>
                    <mat-cell *matCellDef="let interpellation">
                        <p class="text-truncate">{{interpellation?.article?.domain?.name}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let interpellation">
                        <a *ngIf="!interpellation.ischeck"
                           [routerLink]="'/main/participation/interpellations/'+interpellation.id+'/'+interpellation.author">
                            <mat-icon>edit</mat-icon>
                        </a>&nbsp;&nbsp;
                        <a (click)="showDetail(interpellation)">
                            <mat-icon>visibility</mat-icon>
                        </a>&nbsp;&nbsp;
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let interpellation; columns: displayedColumns;"
                         class="interpellation"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
