<div id="verification-details" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/main/trueometer/verifications'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Verification du sujet : {{verification?.label}}
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="verificationForm" [formGroup]="verificationForm" class="product w-100-p" fxLayout="column"
                      fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field class="px-8 readonly-wrapper" appearance="outline" floatLabel="always">
                                <mat-label>Titre</mat-label>
                                <input name="label" formControlName="label"
                                       matInput
                                       readonly>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field class="px-8 readonly-wrapper" appearance="outline" floatLabel="always">
                                <mat-label>Contenu</mat-label>
                                <textarea name="content" formControlName="content"
                                          matInput type="text"
                                          required
                                          readonly
                                          max-rows="5">
                                </textarea>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field class="px-8 readonly-wrapper" appearance="outline"
                                            floatLabel="always" fxFlex="34">
                                <mat-label>Jugement</mat-label>
                                <mat-select formControlName="judgment"
                                            required
                                            [disabled]="true">
                                    <mat-option *ngFor="let jud of judements"
                                                [value]="jud">{{judmentEnum[jud]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="px-8 readonly-wrapper"
                                            floatLabel="always" fxFlex="34">
                                <mat-label>Elus</mat-label>
                                <mat-select formControlName="elected"
                                            (selectionChange)="findByElectedSelected($event.value)"
                                            required
                                            [disabled]="true">
                                    <mat-option *ngFor="let elected of electeds" [value]="elected.id">
                                        {{elected.firstname}} {{elected.lastname}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="px-8 readonly-wrapper"
                                            floatLabel="always" fxFlex="34">
                                <mat-label>Categorie</mat-label>
                                <mat-select formControlName="category"
                                            (selectionChange)="findCategorySelected($event.value)"
                                            required
                                            [disabled]="true">
                                    <mat-option *ngFor="let category of categories" [value]="category.id">
                                        {{category.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field class="px-8 readonly-wrapper" appearance="outline" floatLabel="always">
                                <mat-label>Raison du Jugement</mat-label>
                                <textarea name="reason" formControlName="reason"
                                          matInput type="text"
                                          readonly
                                          max-rows="5">
                                </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->

</div>
