<div id="request-details" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/main/trueometer/requests'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Demande de verification du sujet : {{requestDetails.subject}}
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="requestForm" [formGroup]="requestForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p readonly-wrapper">
                                <mat-label>Sujet</mat-label>
                                <input name="subject" formControlName="subject"
                                       matInput readonly>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p readonly-wrapper">
                                <mat-label>Contenu</mat-label>
                                <textarea name="content" formControlName="content"
                                          matInput type="text"
                                          required
                                          readonly
                                          max-rows="5">
                                </textarea>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p readonly-wrapper">
                                <mat-label>Source d'infos</mat-label>
                                <textarea name="newSource" formControlName="newSource"
                                          matInput type="text"
                                          readonly
                                          max-rows="5">
                                </textarea>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="px-4 readonly-wrapper" floatLabel="always"
                                            fxFlex="50">
                                <mat-label>Elus</mat-label>
                                <mat-select formControlName="elected"
                                            (selectionChange)="findByElectedSelected($event.value)"
                                            required
                                            [disabled]="true">
                                    <mat-option *ngFor="let elected of electeds" [value]="elected.id">
                                        {{elected.firstname}} {{elected.lastname}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="px-4 readonly-wrapper" floatLabel="always"
                                            fxFlex="50">
                                <mat-label>Categorie</mat-label>
                                <mat-select formControlName="category"
                                            (selectionChange)="findCategorySelected($event.value)"
                                            required
                                            [disabled]="true">
                                    <mat-option *ngFor="let category of categories" [value]="category.id">
                                        {{category.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
