<div id="denunciations" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <http-spinner></http-spinner>
        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    library_books
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                   Liste de dénonciations
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Rechercher une dénonciation">
                </div>
            </div>
            <!-- / SEARCH -->
            <button mat-raised-button
                    [routerLink]="'/main/participation/denunciations/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
                <span>Nouvelle dénonciation</span>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table class="denunciations-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Titre</mat-header-cell>
                    <mat-cell *matCellDef="let denunciation">
                        <p class="text-truncate">{{denunciation?.article?.title}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="entity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Entité</mat-header-cell>
                    <mat-cell *matCellDef="let denunciation">
                        <p class="text-truncate">{{denunciation?.entity}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="locality">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Localité</mat-header-cell>
                    <mat-cell *matCellDef="let denunciation">
                        <p class="text-truncate">{{denunciation?.article?.level?.name}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="domain">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Domaine</mat-header-cell>
                    <mat-cell *matCellDef="let denunciation">
                        <p class="text-truncate">{{denunciation?.article?.domain?.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let denunciation">
                        <a [routerLink]="'/main/participation/denunciations/'+denunciation.id+'/'+denunciation.entity">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <br><br>
                        <a *ngIf="!denunciation.ischeck"
                           [routerLink]="" matTooltip="Valider"
                           (click)="validation(denunciation)">
                            <mat-icon>check</mat-icon>
                        </a>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let denunciation; columns: displayedColumns;"
                         class="denunciation"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
