<h2 mat-dialog-title>{{article?.title}}</h2>
<mat-dialog-content class="mat-typography">
    <div class="leadership_event_icon">
        <span><i class="fa fa-calendar"></i>{{article?.createDate | date: 'dd/MM/yyyy'}}</span>
        <span><i class="fa fa-map-marker"></i>{{article?.level?.name}}</span>
        <span><a class="tagcloud">{{article?.domain?.name}}</a></span>
    </div>
    <br>
    <h3><strong>Auteur</strong></h3>
    <p>{{article?.user?.firstname}} {{article?.user?.lastname}}</p>
    <h3><strong>Sous-Catégorie :</strong></h3>
    <p>{{subCategory[article?.subCategory]}}</p>
    <h3><strong>Contenu :</strong></h3>
    <p [innerHTML]="article?.content"></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button *ngIf="!article.ischeck"
            mat-raised-button class="save-button"
            matTooltip="Moderer"
            color="primary"
            (click)="validation(article)">
        <mat-icon>check</mat-icon>&nbsp;
        <span>Publier</span>
    </button>
    <button *ngIf="article.ischeck"
            mat-raised-button class="save-button"
            matTooltip="Démoderer"
            (click)="toPublish(article)"
            color="primary">
        <mat-icon>close</mat-icon>&nbsp;
        <span>Dépublier</span>
    </button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon>close</mat-icon>&nbsp;
        Fermer
    </button>
</mat-dialog-actions>
