<h2 mat-dialog-title>{{article?.title}}</h2>
<mat-dialog-content class="mat-typography">
    <div class="leadership_event_icon">
        <span><i class="fa fa-calendar"></i>{{article?.createDate | date: 'dd/MM/yyyy'}}</span>
        <span><i class="fa fa-map-marker"></i>{{article?.level?.name}}</span>
        <span><a href="#" class="tagcloud">{{article?.domain?.name}}</a></span>
    </div>
    <br>
    <h3><strong>Sous-Catégorie :</strong></h3>
    <p>{{subCategory[article?.subCategory]}}</p>
    <h3><strong>Contenu :</strong></h3>
    <p [innerHTML]="article?.content"></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Fermer</button>
</mat-dialog-actions>
