<div id="legal-folder" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/main/corryptometer/legal-folders'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{legalFolder?.article.title}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nouveau dossier
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    (click)="save()"
                    [disabled]="legalFolderForm.invalid"
                    *ngIf="pageType ==='new'">
                <span>Enregistrer</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="legalFolderForm.invalid || legalFolderForm.pristine"
                    *ngIf="pageType ==='edit'">
                <span>Modifier</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="publicationForm" [formGroup]="legalFolderForm" class="product w-100-p"
                      fxLayout="column" fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Titre</mat-label>
                                <input name="title" formControlName="title" matInput required>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Nom de l'accusé</mat-label>
                                <input name="nameOfAccused" formControlName="nameOfAccused" matInput required>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Contenu</mat-label>
                                <textarea name="content" formControlName="content"
                                          matInput type="text"
                                          required
                                          max-rows="5">
                                </textarea>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Etat du dossier</mat-label>
                                <mat-select formControlName="stateFolder"
                                            required>
                                    <mat-option *ngFor="let state of statefolders"
                                                [value]="state">{{statefolder[state]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Jugement</mat-label>
                                <mat-select formControlName="judgment"
                                            required>
                                    <mat-option *ngFor="let jud of judments"
                                                [value]="jud">{{judment[jud]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Juridiction</mat-label>
                                <mat-select (selectionChange)="findByJurisdictionSelected($event.value)"
                                            formControlName="jurisdiction"
                                            required>
                                    <mat-option *ngFor="let juridict of jurisdictions"
                                                [value]="juridict.id">{{juridict.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Montant en jeu</mat-label>
                                <input name="amountAtStake" formControlName="amountAtStake" matInput
                                       mask="separator" type="text">
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Décision</mat-label>
                                <textarea name="decisionOfJurisdiction" formControlName="decisionOfJurisdiction"
                                          matInput type="text"
                                          required
                                          max-rows="5">
                                </textarea>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Motivation</mat-label>
                                <textarea name="motivation" formControlName="motivation"
                                          matInput type="text"
                                          required
                                          max-rows="5">
                                </textarea>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Localité</mat-label>
                                <mat-select formControlName="locality"
                                            (selectionChange)="findByLocalitySelected($event.value)"
                                            required>
                                    <mat-option *ngFor="let locality of localities"
                                                [value]="locality.id">{{locality.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Domaine</mat-label>
                                <mat-select formControlName="domain"
                                            (selectionChange)="findDomainSelected($event.value)"
                                            required>
                                    <mat-option *ngFor="let domain of domains"
                                                [value]="domain.id">{{domain.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                <mat-label>Date d'accusation</mat-label>
                                <input [matDatepicker]="dateOfCharge"
                                       formControlName="dateOfCharge" matInput
                                       name="dateOfCharge">
                                <mat-datepicker-toggle [for]="dateOfCharge" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #dateOfCharge></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                <mat-label>Date de jugement</mat-label>
                                <input [matDatepicker]="dateOfJudment"
                                       formControlName="dateOfJudment" matInput
                                       name="dateOfJudment">
                                <mat-datepicker-toggle [for]="dateOfJudment" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #dateOfJudment></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                <mat-label>Date d'arrêt de la CA</mat-label>
                                <input [matDatepicker]="dateStopCA"
                                       formControlName="dateStopCA" matInput
                                       name="dateStopCA">
                                <mat-datepicker-toggle [for]="dateStopCA" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #dateStopCA></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                <mat-label>Date d'arrêt de la CS</mat-label>
                                <input [matDatepicker]="dateStopCS"
                                       formControlName="dateStopCS" matInput
                                       name="dateStopCS">
                                <mat-datepicker-toggle [for]="dateStopCS" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #dateStopCS></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
