<div id="law-projects" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    gavel
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Projet de lois
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Rechercher un projet de lois">
                </div>
            </div>
            <!-- / SEARCH -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="law-projects-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Titre</mat-header-cell>
                    <mat-cell *matCellDef="let lawProject">
                        <p class="text-truncate">{{lawProject.article.title}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="year">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Année</mat-header-cell>
                    <mat-cell *matCellDef="let lawProject">
                        <p class="text-truncate">{{lawProject.year}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="elected">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Elus</mat-header-cell>
                    <mat-cell *matCellDef="let lawProject">
                        <p class="text-truncate">{{lawProject.elected.firstname}} {{lawProject.elected.lastname}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="stateLawProject">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Categorie</mat-header-cell>
                    <mat-cell *matCellDef="let lawProject">
                        <p class="text-truncate">{{stateLawProject[lawProject.stateLawProject]}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let lawProject; columns: displayedColumns;"
                         class="lawProject"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
