<h2 mat-dialog-title>{{petition?.article?.title}}</h2>
<mat-dialog-content class="mat-typography">
    <div class="leadership_event_icon">
        <span><i class="fa fa-calendar"></i>{{petition?.article?.createDate | date: 'dd/MM/yyyy'}}</span>
        <span><i class="fa fa-map-marker"></i>{{petition?.article?.level?.name}}</span>
        <span><a href="#" class="tagcloud">{{petition?.article?.domain?.name}}</a></span>
    </div>
    <br>
    <h3><strong>Contenu :</strong></h3>
    <p [innerHTML]="petition?.article?.content"></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button *ngIf="!petition.ischeck"
            mat-raised-button class="save-button"
            matTooltip="Valider"
            color="primary"
            (click)="validation(petition)">
        <mat-icon>check</mat-icon>&nbsp;
        <span>Publier</span>
    </button>
    <button *ngIf="petition.ischeck"
            mat-raised-button class="save-button"
            matTooltip="Démoderer"
            (click)="toPublish(petition)"
            color="primary">
        <mat-icon>close</mat-icon>&nbsp;
        <span>Dépublier</span>
    </button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon>close</mat-icon>&nbsp;
        Fermer
    </button>
</mat-dialog-actions>
