<div id="form" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <http-spinner></http-spinner>

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/main/publications/forms'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{form.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nouveau Formulaire
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    (click)="save()"
                    [disabled]="crudForm.invalid || !isQuizzesCorrect()"
                    *ngIf="pageType ==='new'">
                <span>Enregistrer</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="crudForm.invalid || crudForm.pristine"
                    *ngIf="pageType ==='edit'">
                <span>Modifier</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                <div class="tab-content p-24" fusePerfectScrollbar>
                    <form name="crudForm" [formGroup]="crudForm" class="product w-100-p" fxLayout="column" fxFlex>
                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                <mat-label>Nom</mat-label>
                                <input name="name" formControlName="name"
                                       matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                <mat-label>Categorie</mat-label>
                                <mat-select formControlName="categoryForm"
                                            required>
                                    <mat-option *ngFor="let cat of categories"
                                                [value]="cat">{{categoryForm[cat]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="divServicesQuiz">
                    <h2><strong>Liste de questions lié a ce formulaire</strong></h2>
                    <div class="responsiveTbl">
                        <table>
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>Type de Question</th>
                                <th>Nom</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let quiz of quizs; let i=index">
                                <td>{{i+1}}</td>
                                <td>
                                    <mat-select placeholder="Choisir un type">
                                        <mat-option *ngFor="let typeQuiz of types"
                                                    [value]="typeQuiz">{{type[typeQuiz]}}
                                        </mat-option>
                                    </mat-select>
                                </td>
                                <td>
                                    <textarea [(ngModel)]="quiz.name" id="name_{{i}}" matInput></textarea>
                                </td>
                                <td>
                                    <textarea [(ngModel)]="quiz.description" id="description_{{i}}" matInput></textarea>
                                </td>
                                <td>
                                    <span>
                                        <a (click)="delete(i)" href="javascript:void(0)">
                                            <mat-icon>delete</mat-icon>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                            <button (click)="addNewRow()" class="submit-button" color="accent" mat-stroked-button>
                                <mat-icon>add</mat-icon>
                            </button>
                        </table>
                    </div>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
