<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle style="background: #006400; color: white !important;" class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#006400"
            type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">S'il vous plaît, attendez ...</p>
        </ngx-spinner>

        <form [formGroup]="affectQuizForm">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Catégorie</mat-label>
                    <mat-select (selectionChange)="findCat($event.value)" formControlName="quizCategory"
                                required>
                        <mat-option *ngFor="let cat of form.quizCategories"
                                    [value]="cat.id">{{cat.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Questions</mat-label>
                    <mat-select formControlName="quizzes" multiple required>
                        <mat-select-trigger>
                            {{affectQuizForm.get('quizzes').value ? affectQuizForm.get('quizzes').value[0].name : ''}}
                            <span *ngIf="affectQuizForm.get('quizzes').value?.length > 1"
                                  class="example-additional-selection">
        (+{{affectQuizForm.get('quizzes').value.length - 1}} {{affectQuizForm.get('quizzes').value?.length === 2 ? 'autres' : 'autres'}}
                                )
      </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let quiz of quizzes"
                                    [value]="quiz">{{quiz?.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center">

        <button mat-button
                class="save-button"
                (click)="affect()"
                [disabled]="affectQuizForm.invalid"
                matTooltip="Enregistrer">
            Enregistrer
        </button>


        <button (click)="matDialogRef.close()"
                class="mr-8"
                mat-button
                matTooltip="Annnuler">
            Annnuler
        </button>

    </div>
</div>
