<div id="article" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#006400"
            type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">S'il vous plaît, attendez ...</p>
        </ngx-spinner>

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/main/governometer/articles'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{article.title}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nouvelle publication
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="publicationForm" [formGroup]="articleForm" class="product w-100-p"
                      fxLayout="column" fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Titre</mat-label>
                                <input name="title" #title formControlName="title" matInput maxlength="160" required>
                                <mat-hint align="end">{{title.value.length}} / 160</mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Sous-categorie</mat-label>
                                <mat-select formControlName="subCategory"
                                            required>
                                    <mat-option *ngFor="let sub of subCategories"
                                                [value]="sub">{{subCategory[sub]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <!--<mat-label>Localié</mat-label>
                                <input type="text" matInput formControlName="level" [matAutocomplete]="auto">
                                <mat-autocomplete (optionSelected)="getLevel($event.option.value)"
                                                  #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option.name}}
                                    </mat-option>
                                </mat-autocomplete>-->
                                <mat-label>Régions</mat-label>
                                <mat-select formControlName="region"
                                            (selectionChange)="onRegionChange($event.value)">
                                    <mat-option *ngFor="let region of regions" [value]="region.id">
                                        {{region.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="regionId" appearance="outline" class="px-4" floatLabel="always"
                                            fxFlex="50">
                                <mat-label>Cercles</mat-label>
                                <mat-select formControlName="circle"
                                            (selectionChange)="onCircleChange($event.value)">
                                    <mat-optgroup *ngFor="let group of circles" [label]="group?.name">
                                        <mat-option *ngFor="let circle of group?.levels" [value]="circle?.id">
                                            {{circle?.name}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field *ngIf="circleId" appearance="outline" class="px-4" floatLabel="always"
                                            fxFlex="50">
                                <mat-label>Commune</mat-label>
                                <mat-select formControlName="town"
                                            (selectionChange)="onTownChange($event.value)">
                                    <mat-optgroup *ngFor="let group of towns" [label]="group?.name">
                                        <mat-option *ngFor="let tow of group?.levels" [value]="tow?.id">
                                            {{tow?.name}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field *ngIf="vfqId" appearance="outline" class="px-4" floatLabel="always"
                                            fxFlex="50">
                                <mat-label>VFQ</mat-label>
                                <mat-select formControlName="vfq"
                                            (selectionChange)="onVFQChange($event.value)">
                                    <mat-optgroup *ngFor="let group of vfqs" [label]="group?.name">
                                        <mat-option *ngFor="let vfq of group?.levels" [value]="vfq?.id">
                                            {{vfq?.name}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!-- <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                             <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                 <ngx-mat-file-input formControlName="fileName"
                                                     (change)="selectFile($event)"
                                                     placeholder="Joindre un fichier" >
                                 </ngx-mat-file-input>
                                 <mat-icon matSuffix>attach_file</mat-icon>
                             </mat-form-field>
                         </div>-->

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" floatLabel="always"
                                            class="w-100-p">
                                <mat-label>Domaine</mat-label>
                                <mat-select formControlName="domain"
                                            (selectionChange)="findDomainSelected($event.value)"
                                            required>
                                    <mat-option *ngFor="let domain of domains"
                                                [value]="domain.id">{{domain.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Description</mat-label>
                                <textarea #description name="description" formControlName="description" matInput
                                          type="text"
                                          maxlength="200"
                                          max-rows="5"></textarea>
                                <mat-hint align="end">{{description.value.length}} / 200</mat-hint>
                            </mat-form-field>
                        </div>

                        <div>
                            <ckeditor formControlName="content"></ckeditor>
                        </div>
                        <br>
                        <button mat-raised-button
                                color="primary"
                                (click)="save()"
                                [disabled]="articleForm.invalid"
                                *ngIf="pageType ==='new'">
                            <span>Enregistrer</span>
                        </button>
                        <button mat-raised-button
                                color="primary"
                                (click)="save()"
                                [disabled]="articleForm.invalid || articleForm.pristine"
                                *ngIf="pageType ==='edit'">
                            <span>Modifier</span>
                        </button>
                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
