<div id="interpellation" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/main/participation/interpellations'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{interpellation?.article?.title}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nouvelle Interpellation
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    (click)="saveOrUpdate()"
                    [disabled]="interpellationForm.invalid"
                    *ngIf="pageType ==='new'">
                <span>Enregistrer</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="interpellationForm.invalid || interpellationForm.pristine"
                    *ngIf="pageType ==='edit'">
                <span>Modifier</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="interpellationForm" [formGroup]="interpellationForm" class="product w-100-p"
                      fxLayout="column" fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Titre</mat-label>
                                <textarea name="title" formControlName="title"
                                          matInput type="text"
                                          required
                                          max-rows="5">
                                </textarea>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Contenu</mat-label>
                                <textarea name="content" formControlName="content"
                                          matInput type="text"
                                          required
                                          max-rows="5">
                                </textarea>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="px-8" floatLabel="always" fxFlex="33">
                                <mat-label>Interpeller en tant que</mat-label>
                                <mat-select formControlName="callAs" (selectionChange)="getasCallChoice($event.value)"
                                            required>
                                    <mat-option *ngFor="let call of asCalls"
                                                [value]="call">{{callAs[call]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="px-8" floatLabel="always" fxFlex="33">
                                <mat-label>Qui est interpeller</mat-label>
                                <mat-select formControlName="organCall"
                                            (selectionChange)="getOrganChoice($event.value)" required>
                                    <mat-option *ngFor="let organ of organCalls"
                                                [value]="organ">{{organCall[organ]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field *ngIf="organCallSelected ==='ELECTED' || interpellation.elected != null"
                                            appearance="outline" class="px-8" floatLabel="always" fxFlex="33">
                                <mat-label>Elus concerné</mat-label>
                                <mat-select formControlName="elected"
                                            (selectionChange)="findByElectedSelected($event.value)">
                                    <mat-option *ngFor="let elected of electeds" [value]="elected.id">
                                        {{elected.firstname}} {{elected.lastname}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field *ngIf="organCallSelected ==='ORGAN' || interpellation.organ != null"
                                            appearance="outline" class="px-8" floatLabel="always" fxFlex="33">
                                <mat-label>Organ concerné</mat-label>
                                <mat-select formControlName="organ"
                                            (selectionChange)="findOrganSelected($event.value)">
                                    <mat-option *ngFor="let organ of organs" [value]="organ.id">
                                        {{organ.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div  fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field *ngIf="asCallSelected === 'NOT_ANONYMOUS'" appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Auteur de l'interpellation</mat-label>
                                <input name="author" formControlName="author" matInput required>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Localité</mat-label>
                                <mat-select formControlName="locality"
                                            (selectionChange)="findByLocalitySelected($event.value)"
                                            required>
                                    <mat-option *ngFor="let locality of localities"
                                                [value]="locality.id">{{locality.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                                <mat-label>Domaine</mat-label>
                                <mat-select formControlName="domain"
                                            (selectionChange)="findDomainSelected($event.value)"
                                            required>
                                    <mat-option *ngFor="let domain of domains"
                                                [value]="domain.id">{{domain.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
